@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  background: grey;
}

body {
  margin: 0;
}
